import { backup } from "./backup.ts";
import { IFiles, IOptions } from "./types.ts";

/**
 * Файлы архивов
 */
const files: IFiles = {
  'delphi': {
    rootDir: 'c:/',
    subDirs: true,
    include: ['delphi']
  },
  'bases': {
    rootDir: 'c:/bases',
    subDirs: false,
    include: [
      {
        fileName: 'etalon.fdb',
        preProcess: {
          newExt: '.bk',
          processor: 'fb25'
        }
      }
    ]
  }
};

const options: IOptions = {
  /** If true, previous backup will be deleted */ 
  resetBackupDir: true,
  /** Path to the 7Zip binary */
  zipPath: 'C:/Program Files/7-zip',
  /** Path to the gbak utility and paremeters for connection to the FB 2.5 server */
  fb25: {
    binPath: 'C:/Program Files/FB25/bin',
    host: 'localhost',
    port: 3053,
    user: 'SYSDBA',
    password: 'masterkey'
  },
  /** Path to the gbak utility and paremeters for connection to the FB 3 server */
  fb3: {
    binPath: 'C:/Program Files/FB3',
    host: 'localhost',
    port: 3054,
    user: 'SYSDBA',
    password: 'masterkey'
  },
  /** How many process will run in parallel */
  maxProcessCount: 4
};

await backup('g:/archive', 'COMPUTER', undefined, files, options);
